{% extends 'main.html' %}

{% block content %}

<div class="image-container">
    <h1 class="text">
        Facebook Posts
    </h1>
</div>

{{keywords}}
{% for kw in keywords %}
    {{kw.name}}
    <br />
    {% for word in kw.keyword %}
        {{word}}
        <br />
    {% endfor %}
    <br />
{% endfor %}

{% if posts %}
<section class="section is-medium">
    <section class="section is-medium">
            <h1 style="text-align: center;">Trending Posts</h1>
            <div class="wrapper">
                {% for post in posts %}
                    <div class="wrapper">
                        <div class="card" style="margin:16px;">
                            <h3 style="margin:16px;">Source: {{post.name}}</h3>
                            {% if post.image %}
                                <img href="{{post.image}}"></img>
                            {% endif %}
                            <p class="card-content" style="margin:16px;">Content: {{post.content}}</p>
                            <h5 style="margin:16px;">Reaction: {{post.reaction_count}} times</h5>
                            <h6 style="margin:16px;">Like: {{post.likes}} times</h6>
                            
                            <a href="{{post.post_url}}" style="margin:16px;"><button class="card-btn"> See more...</button></a>
                            </div> 
                    </div>
                {% endfor %}
            </div>
        </section>
    
</section>

{% endif %}


{% endblock content %}



