{% extends 'main.html' %}

{% block content %}

<section >

{% if search_query %}
    <h1 class="title">Your search for <span style="color:#89CFF0":>{{search_query}}</span></h1>
        {% if suggestions %}
        <h1 class="subtitle">There are 5 relevant keywords</h1>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th>STT</th>
                <th>Trends Name</th>
                <th>Trends Type</th>
                
            </tr>
            </thead>
            <tbody>
                {% for i in suggestions %}
                    <tr>
                        <td><a>{{i.index}}</a></td>
                        <td><a>{{i.title}}</a></td>
                        <td><a>{{i.type}}</a></td>
                    </tr>
                {% endfor %}
        {% else %}
            <h1 class="subtitle">There are no relevant keywords</h1>     
        {% endif %}
    
        </tbody>
    </table>   
</section>
{% endif %}

{% endblock content %}