{% load static %}

<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'index' %}">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>
    <div class="navbar-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">

      <a class="navbar-item" href="{% url 'home' %}">
        Home
      </a>

      <a class="navbar-item" href="{% url 'index' %}">
        Google Trends
      </a>

      <a class="navbar-item" href="{% url 'facebook' %}">
        Facebook
      </a>

      <a class="navbar-item" href="#">
        VN Express
      </a>

      <a class="navbar-item" href="#">
        About
      </a>
      
    </div>

  
    <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'search' %}">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" aria-label="Search" name="search_query" id="search_query">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

